pandas==2.2.0
nltk==3.8.1
textblob==0.17.1
symspellpy==6.7.7
requests==2.31.0
scikit-learn==1.4.0
google-genai
langchain
langchain-core
langchain-community
langchain-google-genai
google-generativeai
langchain-mistralai
mistralai
langchain-openai
openai
anthropic
transformers
huggingface_hub
accelerate
groq